$desktop-min-width: 1200px;
$padding-mobile: 16px;
$padding-desktop: 120px;
$max-width: 1136px + ($padding-desktop * 2);
$margin-bottom-mobile: 72px;
$margin-bottom-desktop: 100px;

$primary-color: #FFFFFF;
$secondary-color: #181D25;
$button-light: #657081;
$button-dark: #2C343F;
$detail-color: #657081;